# MongoDB Connection
#MONGODB_URI=mongodb+srv://Waisira_admin:oHvbcqyiWp7HDQkU@silapluscluster.mdw854o.mongodb.net
MONGODB_URI=mongodb+srv://Waisila_admin:sMXrZuyil5GvbAL0@silapluscluster.mdw854o.mongodb.net
MONGODB_DB=waisira

# Optional: Admin credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-secure-password

# Telegram (for contact form)
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
